{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your address for destination" +" "+data['destination']+"?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--<h1 class="govuk-heading-l">
      What is your address for destination {{data['destination']}}?
    </h1>-->

    <form class="form" action="/check-answers-moon" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
      name: "address-suggested-moon",
      value: data['address-suggested-moon'],
      fieldset: {
      legend: {
      text: "What is your address for destination" +" "+data['destination']+"?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "1 AT 279-283 WHITECHAPEL ROAD, London",
      text: "1 AT 279-283 WHITECHAPEL ROAD, London, E1 1BY"
      },
      {
      value: "2 AT 279-283 WHITECHAPEL ROAD, London",
      text: "2 AT 279-283 WHITECHAPEL ROAD, London, E1 1BY"
      },
      {
      value: "3 AT 279-283 WHITECHAPEL ROAD, London",
      text: "3 AT 279-283 WHITECHAPEL ROAD, London, E1 1BY"
      },
      {
      value: "4 AT 279-283 WHITECHAPEL ROAD, London",
      text: "4 AT 279-283 WHITECHAPEL ROAD, London, E1 1BY"
      },
      {
      value: "5 AT 279-283 WHITECHAPEL ROAD, London",
      text: "5 AT 279-283 WHITECHAPEL ROAD, London, E1 1BY"
      }
      ]
      }) }}


      <p class="govuk-body">
        <a href="address-moon" class="govuk-link">If the address is not listed you can enter the address manually</a>
      </p>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}