{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">For the prototype I’ve included a third destination, as my way of demonstrating my routing
      work. If the user selects the third destination (Jupiter) they are taken to a page with some content and they are
      advised to go back and pick another destination.</p>


    <p>
      <img src="/public/images/flow.png"
        alt="Flow diagram showing the steps for the Space Travel Service: choose destination (Moon or Mars), enter name and address, review and submit information."
        width="800">
    </p>


    <p>
      <a href="/start">
        Go to the start page
      </a>
    </p>

    <!--{% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}-->
  </div>
</div>

{% endblock %}