{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your postcode for destination {{data['destination']}}?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      What is your postcode for destination {{data['destination']}}?
    </h1>

    <form class="form" action="/address-suggested-moon" method="post">

      {{ govukInput({
        label: {
          text: ""
        },
        classes: "govuk-input--width-10",
        id: "postcode-moon",
        name: "postcode-moon",
        value: data['postcode-moon'],
        hint: {
          text: "For example SW1 6GH"
        }
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}

      <p class="govuk-body">
        <a href="address-moon" class="govuk-link">Enter the address manually</a>
      </p>

    </form>

  </div>
</div>

{% endblock %}